<div id='header'>
  <h1>The Plot Index</h1>
</div>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h3>Plot Number: <%= plot.number %></h3>
    <% plot.plants.each do |plant| %>
      <p><%= plant.name %> <%= button_to "Delete #{plant.name}", plot_plant_path(plant.id), method: :destroy %></p>
    <% end %>
  </div>
<% end %>
